.companyTendency {
    height: auto;
}

.companyOverviewButtonSeeMore {
    padding:10px;
    border: 1px solid #F89721;
    border-radius:15px;
    display:inline-block;
    @apply flex items-center space-x-2 py-3 px-6 rounded-full mt-6 focus:outline-none

}

.ButtonJoinUs {
    padding:10px;
    border: 1px solid #F89721;
    border-radius:15px;
    display:inline-block;
    @apply flex items-center space-x-2 py-0.5 px-8 rounded-full mt-6 focus:outline-none

}

.ButtonJoinUsText {
    color: #F89721;
    @apply text-16
}

.companyOverviewButtonSeeMoreText {
   color: #F89721;
}
.overViewContent {
    background-color: rgba(189, 199, 205, 0.3);
    @apply rounded-full py-6
}

.companyOverviewImage {
}
