.workingTitle {
  font-size: 36px;
  line-height: 56px;
  color: #FFFFFF;
  @apply text-center font-ABeeZee text-white
}

.workingDescription {
  font-size: 16px;
  line-height: 32px;
  @apply text-center font-ABeeZee text-gray-350
}

.workingMain {
  @apply bg-black-0E1C1C pt-sxl pb-sxl h-auto mx-auto sm:px-6 px-6
}

.workingIntroduction {
  @apply block text-center mx-0 mb-10 md:mx-32 md:mb-16 xl:mx-72 xl:mb-44 max-w-6xl
}

.workingContent {
  @apply px-0 lg:px-16 xl:px-44
}

.workingContentTitle {
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 64px;
  width: fit-content;
  block-size: fit-content;
  @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-FFC838 to-orange-E05529 font-ABeeZee bg-yellow-FFC838 bg-cover
}

.workingContentImageContainer {
  background-image: url(../public/circle.svg);
  background-repeat: no-repeat;
  padding-left: 5%;
  background-size: 100% 100%;
  @apply flex justify-center w-full flex-col items-center md:w-1/2
}

.workingContentLine {
  @apply w-0 md:w-1/2 block
}

.workingContentImage {
  @apply w-1/2
}

.workingContentImageDescription {
  font-size: 16px;
  line-height: 32px;
  @apply font-ABeeZee text-gray-350 mt-25rem ssm:mt-28rem md:mt-30rem pl-0 sm:pl-6 pr-0 w-full sm:w-4/6 md:w-full lg:pl-12 2xl:w-4/5 2xl:pl-24 3xl:pl-36
}

.imageContainer {
  width: 100%;
}

.imageContainer > div {
  position: unset !important;
}

.imageContainer > div > img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
