.workingTitle {
  font-size: 36px;
  line-height: 56px;
  color: #FFFFFF;
  @apply text-center text-white
}

.workingDescription {
  font-size: 16px;
  line-height: 32px;
  @apply text-center text-gray-350
}

.workingMain {
  @apply bg-black-0E1C1C
}

.workingIntroduction {
  @apply text-center pb-10 px-0 md:px-20 md:pb-28
}

.workingContent {
  @apply px-0
}

.workingContentTitle {
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 64px;
  width: fit-content;
  block-size: fit-content;
  @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-FFC838 to-orange-E05529 bg-yellow-FFC838 bg-cover
}

.workingContentImageContainer {
  background-image: url(../public/circle.svg);
  background-repeat: no-repeat;
  padding-left: 5%;
  background-size: 100% 100%;
  @apply flex justify-center w-full flex-col items-center md:w-1/2
}

.workingContentLine {
  @apply w-0 md:w-1/2 block
}

.workingContentImage {
  @apply w-1/2
}

.workingContentImageDescription {
  font-size: 16px;
  line-height: 32px;
  @apply text-gray-350
}

.imageContainer {
  width: 100%;
}

.imageContainer > div {
  position: unset !important;
}

.imageContainer > div > img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
