.buttonJoinUs {
    background: linear-gradient(102.37deg, #FFC838 15.42%, #E05529 82.12%);
    @apply px-6 py-3.5 rounded-3xl text-white text-16 leading-19 text-center mt-6
}

.joinUsMain {
    background-image: linear-gradient(0deg, #583023 0%, #0E1C1C 45%, #0E1C1C 55%);
    @apply w-full -mt-1
}

.joinUsDetailMain {
    background-image: linear-gradient(0deg, #583023 0%, #0E1C1C 25%, #0E1C1C 75%);
    @apply w-full flex justify-center
}

.joinUsFormInput {
    height: 48px;
    border: 1px solid #BDC7CD;
    border-radius: 8px;
    padding: 8px 14px;
    @apply px-14px py-8px focus:outline-none focus:ring-2 w-full
}
